<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container {
            font-family: Arial, sans-serif;
            padding: 20px;
            background-color: lightgrey;
            color: black;
        }
        .code {
            font-size: 1.5em;
            font-weight: bold;
            color: darkgreen;
        }
        .important {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Dear User!</h2>
    <p>Your parcel delivery address has been changed for tracking number: </p>
    <div class="code" th:text="${trackingCode}">DefaultCode</div>
    <h3>Previous Address:</h3>
    <p th:text="${oldAddressLine1}">default</p>
    <p th:text="${oldAddressLine2}">default</p>
    <p th:text="${oldAddressLine3}">default</p>
    <h3>New Address</h3>
    <p th:text="${newAddressLine1}">default</p>
    <p th:text="${newAddressLine2}">default</p>
    <p th:text="${newAddressLine3}">default</p>
    <h3>Reason:</h3>
    <p th:text="${reason}">None given</p>
    <p class="important">If you did not request this change, please contact our support team immediately</p>
    <p><i>Team DHV</i></p>
</div>
</body>
</html>