<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verification Token Sent</title>
    <style>
        .container {
            font-family: Arial, sans-serif;
            padding: 20px;
            background-color: lightgrey;
            color: black;
        }
        .important {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Dear User!</h2>
    <p>Your Password has successfully been changed!</p>
    <p class="important">If you did not request this change, please contact our support team immediately</p>
    <p><i>Team DHV</i></p>
</div>
</body>
</html>